@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  box-sizing: border-box;
  color: #f6f6f6;
}

.conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8%;
}

.conteudo__principal {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 615px;
}

.conteudo__principal__titulo {
  font-family: "Krona One", sans-serif;
  font-size: 36px;
}

.conteudo__principal__titulo-destaque {
  color: #22d4fd;
}

.conteudo__principal__texto {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

.conteudo__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}

.conteudo__links__subtitulo {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.conteudo__links__link {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid #22d4fd;
  border-radius: 8px;
  color: #f6f6f6;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding: 21.5px 0;
  text-align: center;
  text-decoration: none;
  width: 378px;
}

.conteudo__links__link:hover {
  background-color: #272727;
}

.conteudo__imagem {
  margin-left: 48px;
  padding-bottom: 24.5%;
  width: 488px;
}

.rodape {
  background-color: #22d4fd;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding: 24px;
  text-align: center;
}
