@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #22d4fd;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;

  --peso-pequeno: 400;
  --peso-grande: 600;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-primaria);
  box-sizing: border-box;
  color: var(--cor-secundaria);
}

.cabecalho {
  padding: 2% 0 0 8%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  color: var(--cor-terciaria);
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  font-weight: var(--peso-grande);
  text-decoration: none;
}

.conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8%;
}

.conteudo__principal {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 615px;
}

.conteudo__principal__titulo {
  font-family: var(--fonte-primaria);
  font-size: 36px;
}

.conteudo__principal__titulo-destaque {
  color: var(--cor-terciaria);
}

.conteudo__principal__texto {
  font-family: var(--fonte-secundaria);
  font-size: 24px;
}

.conteudo__principal__texto a {
  color: var(--cor-terciaria);
  text-decoration: none;
}

.conteudo__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}

.conteudo__links__subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: var(--peso-pequeno);
  font-size: 24px;
}

.conteudo__links__link {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid var(--cor-terciaria);
  border-radius: 8px;
  color: var(--cor-secundaria);
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  font-weight: var(--peso-grande);
  padding: 21.5px 0;
  text-align: center;
  text-decoration: none;
  width: 378px;
}

.conteudo__links__link:hover {
  background-color: #272727;
}

.conteudo__imagem {
  margin-left: 48px;
  padding-bottom: 24.5%;
  width: 488px;
}

.rodape {
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  font-weight: var(--peso-pequeno);
  padding: 24px;
  text-align: center;
}
